---
title: Verification Methods
layout: collection
show_excerpts: false
permalink: /verification/
collection: verification
---

Learn methods to ensure software reliability and correctness:  
- Functional testing (Black Box testing)  
- Structural testing (White Box testing)  
- Static analysis techniques  